<!DOCTYPE html>
<html lang="en">
	<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118032674-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118032674-1');
</script>
		{% load staticfiles %}
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="x-dns-prefetch-control" content="on">
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
		<meta name="description" content="AI Clerk 以成為提供人工智慧軟體應用服務以及協助建立人工智慧應用服務之工具為終極目標，尤其著重在自然語言處理（Natural Language Processing）、文本探勘（Text Mining）及機器學習（Machine Learning）相關技術與服務應用，希冀協助組織、企業迎向人工智慧時代的到來，解決生活中各式致命痛點。">
		<meta name="keywords" content="AI Clerk, 昊慧, AI Clerk, 智慧書僮, 人工智慧, 語意理解, 雲端運算, 深度學習, 大數據分析, 自然語言處理, 文本探勘, 機器學習, 問答系統, 智慧虛擬助理, 大數據決策分析平台, 自動語意標記平台, AI Clerk Platform, 電商零售, 醫療, 行銷廣告 ">
		<meta property="og:title" content="AI Clerk:「AI Clerk」- 會賣東西的機器人" />
		<meta property="og:type" content='website' />
		<meta property="og:url" content="https://ai-clerk.com" />
		<meta property="og:description" content="AI Clerk 以成為提供人工智慧軟體應用服務以及協助建立人工智慧應用服務之工具為終極目標，尤其著重在自然語言處理（Natural Language Processing）、文本探勘（Text Mining）及機器學習（Machine Learning）相關技術與服務應用，希冀協助組織、企業迎向人工智慧時代的到來，解決生活中各式致命痛點。"/>
		<meta property="og:image" content="https://ai-clerk.com/getimg_name/?img=AI_Clerk.png&location=home"/>
		<meta property="og:site_name" content="AI Clerk:「AI Clerk」- 會賣東西的機器人" />
		<meta property="fb:app_id" content="1643032452454268" />
		<title>AI Clerk:「AI Clerk」- 會賣東西的機器人</title>
		<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
		<!-- Bootstrap -->
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
		<!--圓形ICON與FONTER, 需WEBFONTS內的字型檔-->
		<link rel="stylesheet" href="{% static 'css/fontawesome-all.css' %}">
		<link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet">
		<link href="{% static 'css/main.css' %}" rel="stylesheet">
		<link href="{% static 'css/responsive.css' %}" rel="stylesheet">
		
		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<script src="js/respond.min.js"></script>
		<![endif]-->       
		<script type="text/javascript">
			function onload()
			{
			    //URL
			    var url = location.href;
			    //取得問號之後的值
			    var temp = url.split("?");
			  $.ajax({
			            url: "{% url 'content_db' %}",
			            type: "GET",
			            dataType: "json",
			            data:{"id":temp[1]},
			            success: function(data){
			               console.log('OK') ;
			               console.log(data);
			           
			               var str=data["content"];
			                
			               // 取代換行
			               str=str.replace(/／／ｎ/g,"<br>");
                           //判斷圖片是以絕對或是相對路徑儲存
                           var img_src=data["content"].substr(2,4);
                           if(img_src=="http")
                           {
                           	// 取代絕對路徑的圖片
                             str=str.replace(/＜！/,"<img style='display:block; margin:auto;' class='img-responsive img-blog' src=' ");
                            str=str.replace(/！＞/," ' >");

                            str=str.replace(/＜！/g,"<img style='display:block; margin:auto;' src=' ");
				            str=str.replace(/！＞/g," ' >");
                           }

			               else
			               {
			                 // 取代相對路徑的圖片
			                 str=str.replace(/＜！/,"<img class='img-responsive img-blog' style='display:block; margin:auto;' src=/getimg_name/?location=news&img=");
                             str=str.replace(/！＞/,">");

				             str=str.replace(/＜！/g,"<img style='display:block; margin:auto;' src=/getimg_name/?location=news&img=");
				             str=str.replace(/！＞/g,">");
			               }
			                 // 取代下載
			                 str=str.replace(/＜＃/g,"<a href='images/blog/")
			                 str=str.replace(/＃＞/g,"' download><i class='fa fa-download'></i>下載</a>");
			                 // 取代超連結
			                 str=str.replace(/＜％/g,"<a target='_blank' href='")
			                 str=str.replace(/％＞/g,"'>原文</a>");
			                 // 取代子標題
			                 str=str.replace(/＜＊/g,"<p style='font-size:20px;font-weight: bold;'>")
			                 str=str.replace(/＊＞/g,"</p>");
			                 document.getElementById("news").innerHTML += ' <div class="blog-item"><div class="center wow fadeIn％Down" ><div id="cloud" style="margin-top: 30px" ><a href=""></a></div><div text-left" style="margin-top: 3%;" ><h2>'+data["title"]+'</h2><h3 style="text-align:right">作者:'+data["user"]+'</h3><h3 style="text-align:left">'+str+'</h3></div></div></div>';
			            }   
			           
			          });
			}
		</script>
	</head>
	<body class="homepage" onload="onload()">
		<header id="header">
			<nav class="navbar navbar-fixed-top" role="banner">
				<div class="container">
					<div class="navbar-header">
						<a style="height: auto;max-width: 50%;" class="navbar-brand" href="http://www.itri.org.tw"><img src="/getimg_name/?img=itri.png&location=home" class="img-responsive" alt="工業技術研究院" ></a>
						<a style="height: auto;max-width: 50%;" class="navbar-brand" href="/index"><img src="/getimg_name/?img=AI_Clerk.png&location=home" class="img-responsive" alt="AI Clerk 昊慧"> </a>
					</div>
					<div class="text-right" >
						<!--a class="btn btn-outline-primary" href="/eng/index"-->
						<a class="btn btn-outline-primary">
						English
						</a>|
						<!--a class="btn btn-outline-primary" href="/cn/index"-->
						<a class="btn btn-outline-primary">
						简体中文
						</a>
						<!-- <button type="button" class="btn btn-outline-primary" data-toggle="modal" style="border: 2px solid #008CBA;"> -->
						<!--button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal" style="border: 2px solid #008CBA;"-->
						<!-- <a href=mailto:aiclerkmail@gmail.com?subject="請教AI_Clerk，感謝">聯絡我們</a> -->
						<!-- </button> -->
					</div>
					<!-- Modal -->
					<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">聯絡我們</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<!--聯絡表單-->
								<div class="modal-body">
									<!--form method="POST" action="http://formspree.io/aiclerkmail@gmail.com"-->
									<form method="POST">
										<div class="form-group">
											<label for="exampleDropdownFormEmail2">姓名</label>
											<input name="name" type="text" class="form-control" id="name" placeholder="">
											<label  for="exampleDropdownFormEmail2">信箱</label>
											<input type="email" class="form-control" id="email" placeholder="email@example.com">
											<label for="exampleDropdownFormEmail2">連絡電話</label>
											<input type="text" class="form-control" id="phone" placeholder="" >
											<label for="exampleDropdownFormEmail2">需要甚麼服務</label>
											<select class="form-control" id="option">
												<option>---</option>
												<option>尋求合作</option>
												<option>索取資料</option>
												<option>請教職缺</option>
												<option>採訪與演講邀約</option>
												<option>其他</option>
											</select>
											<label for="message-text" class="col-form-label">留言</label>
											<textarea class="form-control" id="message-text"  rows="3"></textarea>
											<input type="hidden" name="_subject" value="新郵件">
										</div>
										<div class="modal-footer">
											<input type="submit" class="btn btn-primary" value="送出" onclick="sent_mail()">
											
										</div>
									</form>
								</div>
								<div class="modal-footer">
								</div>
							</div>
						</div>
					</div>
					<div class="collapse navbar-collapse navbar-right">
						<ul class="nav nav-pills">
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">關於</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" href="/about">背景簡介</a></li>
									<li><a class="dropdown-item" href="/team">團隊成員</a></li>
									<li><a class="dropdown-item" href="/hornor">榮譽</a></li>
									<li><a class="dropdown-item" href="/responsobility">社會公益</a></li>
								</ul>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">最新消息</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" href="/report?0">最新快訊</a></li>
									<li><a class="dropdown-item" href="/news?0">新知分享</a></li>
									<li><a class="dropdown-item" href="/join-us">徵才訊息</a></li>
								</ul>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/technology">核心技術</a>
							</li>
							<li class="nav-item">
								<a class="nav-link disabled" href="/product">產品服務</a>
							</li>
							<li class="nav-item">
								<a class="nav-link disabled" href="/solution">解決方案</a>
							</li>
							<li class="nav-item">
								<a class="nav-link disabled" href="/partner">合作夥伴</a>
							</li>
							<li class="nav-item">
								<a class="nav-link disabled" href="/join-us">加入我們</a>
							</li>
						</ul>
					</div>
				</div>
				<!--/.container-->
			</nav>
			<!--/nav-->
		</header>
		<!--/header-->
		<!--右邊上下滑動按鈕-->
		<div id="up-button">
			<a href='#top'><i class="fa fa-angle-up fa-5x" aria-hidden="true"></i></a>
		</div>
		<section id="blog" class="container">
			<div class="center" id="news">
			</div>
		</section>
		<!--/#blog-->
		<!--/#recent-works-->	
		<section id="bottom">
			<div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="widget">
							<h3>關於</h3>
							<ul>
								<li><a href="/about">背景簡介</a></li>
								<li><a href="/team">團隊成員</a></li>
								<li><a href="/hornor">榮譽</a></li>
								<li><a href="/responsobility">社會公益</a></li>
							</ul>
						</div>
					</div>
					<!--/.col-md-3-->
					<div class="col-md-3 col-sm-6">
						<div class="widget">
							<h3 >最新消息</h3>
							<ul>
								<li><a href="/report?0">最新快訊</a></li>
								<li><a href="/news?0">新知分享</a></li>
								<li><a href="/join-us">徵才訊息</a></li>
							</ul>
						</div>
					</div>
					<!--/.col-md-3-->
					<div class="col-md-3 col-sm-6">
						<div class="widget">
							<h3>
								<ul>
									<li><a href="/technology">核心技術</a></li>
									<li><a href="/product">產品服務</a></li>
									<li><a href="/solution">解決方案</a></li>
								</ul>
							</h3>
						</div>
					</div>
					<!--/.col-md-3-->
					<div class="col-md-3 col-sm-6">
						<div class="widget">
							<h3>
								<ul>
									<li><a href="/partner">合作夥伴</a></li>
									<li><a href="/join-us">加入我們</a></li>
								</ul>
							</h3>
						</div>
					</div>
					<!--/.col-md-3-->
				</div>
			</div>
		</section>
		<!--/#bottom-->
		<div class="top-bar">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="social">
							<ul class="social-share">
								<li><a href="https://www.facebook.com/ai.clerk/" target="_blank""><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="/ai_clerk"><i class="fab fa-line"></i></a></li>
								<!--li><a href="https://www.youtube.com/channel/UCSZP1-X1e0KQC2jWOWrlfSQ" target="_blank"><i class="fab fa-youtube"></i></a></li-->
							</ul>
						</div>
					</div>
					<div style="color:#fff;text-align: center;">
						<h6 style="color:#fff;font-size: 15px;">Tel : (03)573-2002</h6>
						<h6 style="color:#fff;font-size: 15px;">Email : aiclerkmail@gmail.com</h6>
						<h6 style="color:#fff;font-size: 15px;">&copy;2018 ITRI. All rights reserved.</h6>
					</div>
				</div>
			</div>
			<!--/.container-->
		</div>
		<!--/.top-bar-->
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="{% static 'js/main.js' %}"></script>
		<script src="{% static 'js/jquery.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
		<script src="{% static 'js/jquery.isotope.min.js' %}"></script>   
		<script src="{% static 'js/wow.min.js' %}"></script>
	</body>
</html>