<!DOCTYPE html>
<html lang="en">
	<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118032674-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118032674-1');
</script>
        {% load staticfiles %}
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="x-dns-prefetch-control" content="on">
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
		<meta name="description" content="AI Clerk 以成為提供人工智慧軟體應用服務以及協助建立人工智慧應用服務之工具為終極目標，尤其著重在自然語言處理（Natural Language Processing）、文本探勘（Text Mining）及機器學習（Machine Learning）相關技術與服務應用，希冀協助組織、企業迎向人工智慧時代的到來，解決生活中各式致命痛點。">
		<meta name="keywords" content="AI Clerk, 昊慧, AI Clerk, 智慧書僮, 人工智慧, 語意理解, 雲端運算, 深度學習, 大數據分析, 自然語言處理, 文本探勘, 機器學習, 問答系統, 智慧虛擬助理, 大數據決策分析平台, 自動語意標記平台, AI Clerk Platform, 電商零售, 醫療, 行銷廣告 ">
		<meta property="og:title" content="AI Clerk:「AI Clerk」- 會賣東西的機器人" />
		<meta property="og:type" content='website' />
		<meta property="og:url" content="https://ai-clerk.com" />
		<meta property="og:description" content="AI Clerk 以成為提供人工智慧軟體應用服務以及協助建立人工智慧應用服務之工具為終極目標，尤其著重在自然語言處理（Natural Language Processing）、文本探勘（Text Mining）及機器學習（Machine Learning）相關技術與服務應用，希冀協助組織、企業迎向人工智慧時代的到來，解決生活中各式致命痛點。"/>
		<meta property="og:image" content="https://ai-clerk.com/getimg_name/?img=AI_Clerk.png&location=home"/>
		<meta property="og:site_name" content="AI Clerk:「AI Clerk」- 會賣東西的機器人" />
		<meta property="fb:app_id" content="1643032452454268" />
		<title>AI Clerk:「AI Clerk」- 會賣東西的機器人</title>
		<!-- Bootstrap -->
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
		<!--圓形ICON與FONTER, 需WEBFONTS內的字型檔-->
		<link rel="stylesheet" href="{% static 'css/fontawesome-all.css' %}">
		<link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet">
		<link href="{% static 'css/main.css' %}" rel="stylesheet">
		<link href="{% static 'css/responsive.css' %}" rel="stylesheet">
		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<script src="js/respond.min.js"></script>
		<![endif]-->       
	</head>
	<body class="homepage">
		<header id="header">
			<nav class="navbar navbar-fixed-top" role="banner">
				<div class="container">
					<div class="navbar-header">
						<a style="height: auto;max-width: 50%;" class="navbar-brand" href="http://www.itri.org.tw"><img src="/getimg_name/?img=itri.png&location=home" class="img-responsive" alt="工業技術研究院" ></a>
						<a style="height: auto;max-width: 50%;" class="navbar-brand" href="/index"><img src="/getimg_name/?img=AI_Clerk.png&location=home" class="img-responsive" alt="AI Clerk 昊慧"> </a>
					</div>
					<div class="text-right" >
						<!--a class="btn btn-outline-primary" href="/eng/index"-->
						<a class="btn btn-outline-primary">
						English
						</a>|
						<!--a class="btn btn-outline-primary" href="/cn/index"-->
						<a class="btn btn-outline-primary">
						简体中文
						</a>
						<!-- <button type="button" class="btn btn-outline-primary" data-toggle="modal" style="border: 2px solid #008CBA;"> -->
						<!--button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal" style="border: 2px solid #008CBA;"-->
						<!-- <a href=mailto:aiclerkmail@gmail.com?subject="請教AI_Clerk，感謝">聯絡我們</a> -->
						<!-- </button> -->
					</div>
					<!-- Modal -->
					<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">聯絡我們</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<!--聯絡表單-->
								<div class="modal-body">
									<!--form method="POST" action="http://formspree.io/aiclerkmail@gmail.com"-->
									<form method="POST">
										<div class="form-group">
											<label for="exampleDropdownFormEmail2">姓名</label>
											<input name="name" type="text" class="form-control" id="name" placeholder="">
											<label  for="exampleDropdownFormEmail2">信箱</label>
											<input type="email" class="form-control" id="email" placeholder="email@example.com">
											<label for="exampleDropdownFormEmail2">連絡電話</label>
											<input type="text" class="form-control" id="phone" placeholder="" >
											<label for="exampleDropdownFormEmail2">需要甚麼服務</label>
											<select class="form-control" id="option">
												<option>---</option>
												<option>尋求合作</option>
												<option>索取資料</option>
												<option>請教職缺</option>
												<option>採訪與演講邀約</option>
												<option>其他</option>
											</select>
											<label for="message-text" class="col-form-label">留言</label>
											<textarea class="form-control" id="message-text"  rows="3"></textarea>
											<input type="hidden" name="_subject" value="新郵件">
										</div>
										<div class="modal-footer">
											<input type="submit" class="btn btn-primary" value="送出" onclick="sent_mail()">

										</div>
									</form>
								</div>
								<div class="modal-footer">
								</div>
							</div>
						</div>
					</div>
					<div class="collapse navbar-collapse navbar-right">
						<ul class="nav nav-pills">
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" 
									aria-expanded="false">關於</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" href="/about">背景簡介</a></li>
									<li><a class="dropdown-item" href="/team">團隊成員</a></li>
									<li><a class="dropdown-item" href="/hornor">榮譽</a></li>
									<li><a class="dropdown-item" href="/responsobility">社會公益</a></li>
								</ul>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" 
									aria-expanded="false">最新消息</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" href="/report?0">最新快訊</a></li>
									<li><a class="dropdown-item" href="/news?0">新知分享</a></li>
									<li><a class="dropdown-item" href="/join-us">徵才訊息</a></li>
								</ul>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/technology">核心技術</a>
							</li>
							<li class="nav-item">
								<a class="nav-link disabled" href="/product">產品服務</a>
							</li>
							<li class="nav-item">
								<a class="nav-link disabled" href="/solution">解決方案</a>
							</li>
							<li class="nav-item">
								<a class="nav-link disabled" href="/partner">合作夥伴</a>
							</li>
							<li class="nav-item">
								<a class="nav-link disabled" href="/join-us">加入我們</a>
							</li>
						</ul>
					</div>
				</div>
				<!--/.container-->
			</nav>
			<!--/nav-->
		</header>
		<!--/header-->
		<section id="feature" class="service-item">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-md-4">
						<div class="media services-wrap wow fadeInDown" id="product-card">
							<div class="pull-left">
								<img class="img-responsive" src="/getimg_name/?img=content.png&location=solution">
							</div>
							<div class="media-body">
								<h3><a>數位內容/論壇經營商</a></h3>
								<p>利用新型的智能服務抓住網友的心，替網站製造更多話題，有效提升網站流量和點擊率，進而增加廣告收益等獲利模式</p>
								<br>
								<!--a href="content.html" style="margin-right:40%">了解詳情>></a-->
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4">
						<div class="media services-wrap wow fadeInDown" id="product-card">
							<div class="pull-left">
								<img class="img-responsive" src="/getimg_name/?img=commerce.png&location=solution">
							</div>
							<div class="media-body">
								<h3><a>電子商務/零售商</a></h3>
								<p>不用擴編客服人員便可解答商品諮詢問題，推薦適合商品，直接媒合商品與目標消費者，提高購買率促使營收增加，減少庫存成本</p>
								<!--a href="commerce.html" style="margin-right:40%">了解詳情>></a-->      
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4">
						<div class="media services-wrap wow fadeInDown" id="product-card">
							<div class="pull-left">
								<img class="img-responsive" src="/getimg_name/?img=brand.png&location=solution">
							</div>
							<div class="media-body">
								<h3><a>品牌商</a></h3>
								<p>如同前者，品牌商也可以因此達到精準行銷，且藉由分析諮詢內容瞭解市場，減少研發成本</p>
								<br><br>
								<!--a href="brand.html" style="margin-right:40%">了解詳情>></a-->      
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4">
						<div class="media services-wrap wow fadeInDown" id="product-card">
							<div class="pull-left">
								<img class="img-responsive" src="/getimg_name/?img=medical.png&location=solution">
							</div>
							<div class="media-body">
								<h3><a>醫療產業</a></h3>
								<p>發展智慧醫院服務，可以提供病人身體所需的保健商品</p>
								<br><br><br>
								<!--a href="rd.html" style="margin-right:40%">了解詳情>></a-->      
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4">
						<div class="media services-wrap wow fadeInDown" id="product-card">
							<div class="pull-left">
								<img class="img-responsive" src="/getimg_name/?img=financial.png&location=solution">
							</div>
							<div class="media-body">
								<h3><a>金融機構</a></h3>
								<p>協助理財專員、保險專員服務更多顧客，或是提升智慧客服品質</p>
								<br><br><br>
								<!--a href="rd.html" style="margin-right:40%">了解詳情>></a-->      
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4">
						<div class="media services-wrap wow fadeInDown" id="product-card">
							<div class="pull-left">
								<img class="img-responsive" src="/getimg_name/?img=rd.png&location=solution">
							</div>
							<div class="media-body">
								<h3><a>直播平台</a></h3>
								<p>協助實況主有效的業配商品，進行直播的期間所有使用者的詢問，都能即時 推薦需要商品</p>
								<br><br>
								<!--a href="rd.html" style="margin-right:40%">了解詳情>></a-->      
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4">
						<div class="media services-wrap wow fadeInDown" id="product-card">
							<div class="pull-left">
								<img class="img-responsive" src="/getimg_name/?img=marketing.png&location=solution">
							</div>
							<div class="media-body">
								<h3><a>廣告/市調公司</a></h3>
								<p>24 小時不受時空限制的智慧推薦服務，不增加任何人力成本，增加獲利模式，並可提供更精準詳細的市調</p>
								<br><br>
								<!--a href="marketing.html" style="margin-right:40%">了解詳情>></a-->      
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4">
						<div class="media services-wrap wow fadeInDown" id="product-card">
							<div class="pull-left">
								<img class="img-responsive" src="/getimg_name/?img=telecom.png&location=solution">
							</div>
							<div class="media-body">
								<h3><a>電信業者/通訊行</a></h3>
								<p>電信專員不只可以解決消費者的通話紀錄、通訊專案比較、合約問題等等疑 難雜症，還能提供消費者智慧諮詢服務，找到興趣的手機，讓資費方案更多曝光 </p>
								<!--a href="telecom.html" style="margin-right:40%">了解詳情>></a-->      
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4">
						<div class="media services-wrap wow fadeInDown" id="product-card">
							<div class="pull-left">
								<img class="img-responsive" src="/getimg_name/?img=system_integration.png&location=solution">
							</div>
							<div class="media-body">
								<h3><a>系統整合/技術研發商</a></h3>
								<p>透過與「AI Clerk」的整合產生更多智慧應用服務系統，增加獲利模式或是運用「AI Clerk」內建各核心基礎技術模組及知識庫存取，發展出更多其它應用 </p>
								<!--a href="system_integration.html" style="margin-right:40%">了解詳情>></a-->
							</div>
						</div>
					</div>
					<!--div class="col-sm-6 col-md-4">
						<div class="media services-wrap wow fadeInDown" id="product-card">
							<div class="pull-left">
								<img class="img-responsive" src="financial.png">
							</div>
							<div class="media-body">
								
								<h3 class="media-heading">金融未來</h3>
								
								<p>圖表呈現金融社群媒體分析結果，協助您快速蒐集與理解投資理財資訊</p>
								<a href="financial.html" style="margin-right:40%">了解詳情>></a>      
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4">
						<div class="media services-wrap wow fadeInDown" id="product-card">
							<div class="pull-left">
								<img class="img-responsive" src="medical.png">
							</div>
							<div class="media-body">
								<h3 class="media-heading">醫療未來</h3>
								<p>人工智慧與醫療的結合，建立輔助醫師/研究員診斷與治療之決策支援系統</p>
								<a href="medical.html" style="margin-right:40%">了解詳情>></a>      
							</div>
						</div>
					</div>
				</div-->
				<!--/.row-->
			</div>
			<!--/.container-->
		</section>
		<!--/#recent-works-->	
		<section id="bottom">
			<div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="widget">
							<h3>關於</h3>
							<ul>
								<li><a href="/about">背景簡介</a></li>
								<li><a href="/team">團隊成員</a></li>
								<li><a href="/hornor">榮譽</a></li>
								<li><a href="/responsobility">社會公益</a></li>
							</ul>
						</div>
					</div>
					<!--/.col-md-3-->
					<div class="col-md-3 col-sm-6">
						<div class="widget">
							<h3 >最新消息</h3>
							<ul>
								<li><a href="/report?0">最新快訊</a></li>
								<li><a href="/news?0">新知分享</a></li>
								<li><a href="/join-us">徵才訊息</a></li>
							</ul>
						</div>
					</div>
					<!--/.col-md-3-->
					<div class="col-md-3 col-sm-6">
						<div class="widget">
							<h3>
								<ul>
									<li><a href="/technology">核心技術</a></li>
									<li><a href="/product">產品服務</a></li>
									<li><a href="/solution">解決方案</a></li>
								</ul>
							</h3>
						</div>
					</div>
					<!--/.col-md-3-->
					<div class="col-md-3 col-sm-6">
						<div class="widget">
							<h3>
								<ul>
									<li><a href="/partner">合作夥伴</a></li>
									<li><a href="/join-us">加入我們</a></li>
								</ul>
							</h3>
						</div>
					</div>
					<!--/.col-md-3-->
				</div>
			</div>
		</section>
		<!--/#bottom-->
		<div class="top-bar">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="social">
							<ul class="social-share">
								<li><a href="https://www.facebook.com/ai.clerk/" target="_blank""><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="/ai_clerk"><i class="fab fa-line"></i></a></li>
								<!--li><a href="https://www.youtube.com/channel/UCSZP1-X1e0KQC2jWOWrlfSQ" target="_blank"><i class="fab fa-youtube"></i></a></li-->

							</ul>
						</div>
					</div>
					<div style="color:#fff;text-align: center;">
						<h6 style="color:#fff;font-size: 15px;">Tel : (03)573-2002</h6>
						<h6 style="color:#fff;font-size: 15px;">Email : aiclerkmail@gmail.com</h6>
						<h6 style="color:#fff;font-size: 15px;">&copy;2018 ITRI. All rights reserved.</h6>
					</div>
				</div>
			</div>
			<!--/.container-->
		</div>
		<!--/.top-bar-->
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="{% static 'js/main.js' %}"></script>
		<script src="{% static 'js/jquery.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
		<script src="{% static 'js/jquery.isotope.min.js' %}"></script>   
		<script src="{% static 'js/wow.min.js' %}"></script>
	</body>
</html>